<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="<% settings.charset %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title><% title %></title>
  <link rel="stylesheet" href="<% request.uri_base %>/css/style.css">
</head>
<body>

<div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">
          <li>
            <h3>EduTeams Insight</h3>
            <ul class="links">

              <li><a href="/">Teams</a></li>
              <li><a href="/docenten">Docenten</a></li>
              <li><a href="/leerlingen">Leerling</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </li>


          <li>
            <h3>Environment</h3>

            <ul>
                <li>Location: <span class="filepath">/home/pkn/Documenten/scripts/Edu/EduTeams/insight</span></li>
                <li>Template engine: <span class="app-info"><% settings.template %></span></li>
                <li>Logger: <span class="app-info"><% settings.logger %></span></li>
                <li>Environment: <span class="app-info"><% settings.environment %></span></li>
            </ul>

          </li>
        </ul>

      </div>

      <div id="content">
<% content %>
    </div>
  </div>
<div id="footer">
A PKn site, powered by <a href="http://perldancer.org/">Dancer2</a> <% dancer_version %>
</div>
</body>
</html>
