APP_NAME EduTeams
TENANT_ID <id>
APP_ID <id>
APP_PASS <pass>
GRAPH_ENDPOINT https://graph.microsoft.com
LOGIN_ENDPOINT https://login.microsoftonline.com

STUDIE_JAAR 2324

MAGISTER_URL https://<schoolname>.swp.nl:8800/doc
MAGISTER_USER <user>
MAGISTER_SECRET <pass>
MAGISTER_LESPERIODE 2324

AKTIEVE_LOCATIES 0|2|8|9

DB_DRIVER SQLite
DB_NAME <dbname>
DB_USER ""
DB_PASS ""