<div class='row row-content-header'>
        <h1>Lijst van teams.</h1>
</div>
<% INCLUDE includes/navbar.tt %>
<div class='row row-team-table'>
    <div id='teamlist_table' class='col-md-12'></div>
</div>
<script src="/javascripts/teamlist.js"></script>




