.col-content {
    background-color: red;
}

.col-sidebar {
    background-color: orange;
}

.col-footer {
    background-sidebar: blue;
}

.row-content-header {
    background-color: green;
}

.row-navbar {
    background-color: lightgreen;
}

.row-footer {
    background-color: purple;
}
